In [1]:
import numpy as np

In [2]:
arr =np.arange(1,11)

In [3]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
arr[0:5]

array([1, 2, 3, 4, 5])

In [6]:
arr[:6]

array([1, 2, 3, 4, 5, 6])

In [8]:
arr[5:]

array([ 6,  7,  8,  9, 10])

In [11]:
arr1=arr.copy()

In [12]:
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [13]:
aa=np.array([[5,10,15],[20,25,30],[35,40,45]])

In [14]:
aa

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [15]:
aa[0][0]

5

In [16]:
aa[1][1]

25

In [17]:
aa[2,1]

40

In [18]:
aa[1,2]

30

In [20]:
aa[:2,1:]

array([[10, 15],
       [25, 30]])

In [21]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [28]:
obj =Series([3,6,9,12])

In [29]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [30]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [31]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [33]:
ww2_cas=Series([87,12,11,22,33],index=['usa','germany','china','japan','states'])

##

In [34]:
ww2_cas

usa        87
germany    12
china      11
japan      22
states     33
dtype: int64

In [35]:
ww2_cas['usa']

87

In [36]:
ww2_cas[ww2_cas>4]

usa        87
germany    12
china      11
japan      22
states     33
dtype: int64

In [37]:
'usa' in ww2_cas

True

In [38]:
dict= ww2_cas.to_dict()

In [39]:
dict

{'china': 11, 'germany': 12, 'japan': 22, 'states': 33, 'usa': 87}

In [40]:
dict_series=Series(ww2_cas)

In [41]:
dict_series

usa        87
germany    12
china      11
japan      22
states     33
dtype: int64

In [42]:
import numpy as np 
import pandas as pd
from pandas import Series,DataFrame

In [43]:
obj =Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [45]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [46]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [47]:
ww2_cas=Series([8700000,4300000,3000000,2100000,4000000],index=['USSR','GERMANY','CHINA','JAPAN','USA'])

In [48]:
ww2_cas

USSR       8700000
GERMANY    4300000
CHINA      3000000
JAPAN      2100000
USA        4000000
dtype: int64

In [49]:
ww2_cas['USA']

4000000

In [51]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
GERMANY    4300000
dtype: int64

In [52]:
'USSR' in ww2_cas

True

In [53]:
ww2_dict=ww2_cas.to_dict()

In [54]:
ww2_dict

{'CHINA': 3000000,
 'GERMANY': 4300000,
 'JAPAN': 2100000,
 'USA': 4000000,
 'USSR': 8700000}

In [55]:
ww2_Series=Series(ww2_dict)

In [56]:
ww2_Series

CHINA      3000000
GERMANY    4300000
JAPAN      2100000
USA        4000000
USSR       8700000
dtype: int64

In [57]:
country=['CHINA','GERMANY','JAPAN','USA','USSR','ARGETINA']

In [58]:
obj2 =Series(ww2_dict,index=country)

In [59]:
obj2

CHINA       3000000.0
GERMANY     4300000.0
JAPAN       2100000.0
USA         4000000.0
USSR        8700000.0
ARGETINA          NaN
dtype: float64

In [60]:
pd.isnull(obj2)

CHINA       False
GERMANY     False
JAPAN       False
USA         False
USSR        False
ARGETINA     True
dtype: bool

In [61]:
pd.notnull(obj2)

CHINA        True
GERMANY      True
JAPAN        True
USA          True
USSR         True
ARGETINA    False
dtype: bool

In [62]:
ww2_Series+obj2

ARGETINA           NaN
CHINA        6000000.0
GERMANY      8600000.0
JAPAN        4200000.0
USA          8000000.0
USSR        17400000.0
dtype: float64

In [63]:
obj2.name='WORLD WAR 2 CASUALITY'
obj2

CHINA       3000000.0
GERMANY     4300000.0
JAPAN       2100000.0
USA         4000000.0
USSR        8700000.0
ARGETINA          NaN
Name: WORLD WAR 2 CASUALITY, dtype: float64

In [64]:
import webbrowser

In [65]:
website='https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [79]:
nfl_frame=pd.read_clipboard()

In [80]:
nfl_Frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1.0,Dallas,Cowboys,511,367,1,0.582,1960.000,860,NFC,East,NaN
1,2.0,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3.0,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4.0,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5.0,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,Eas

In [81]:
nfl_Frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [78]:
nfl_Frame.first

<bound method NDFrame.first of    Rank     Team       Won         Lost  Tied  Pct.   First       NFL Season  \
0   1.0   Dallas   Cowboys          511   367     1   0.582  1960.000    860
1   2.0    Green       Bay      Packers   730   553  37.000     0.567   1921
2   3.0  Chicago     Bears          744   568    42   0.565  1920.000  1,354
3   4.0    Miami  Dolphins          439   341     4   0.563  1966.000    784
4   5.0      New   England  Patriots[b]   476   383   9.000     0.554   1960

   Total  Games Division
0    NFC   East      NaN
1  1,320    NFC    North
2    NFC  North      NaN
3    AFC   East      NaN
4    868    AFC      Eas  >

In [85]:
DataFrame(nfl_frame,columns=['Rank','Team','Won','Lost','Tied','stadium'])

   Rank     Team       Won         Lost  Tied  stadium
0   1.0   Dallas   Cowboys          511   367      NaN
1   2.0    Green       Bay      Packers   730      NaN
2   3.0  Chicago     Bears          744   568      NaN
3   4.0    Miami  Dolphins          439   341      NaN
4   5.0      New   England  Patriots[b]   476      NaN

In [90]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
2,3.0,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4.0,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5.0,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,Eas

In [95]:
nfl_frame.ix[0]

Rank              1
Team         Dallas
Won         Cowboys
Lost            511
Tied            367
Pct.              1
First         0.582
NFL            1960
Season          860
Total           NFC
Games          East
Division        NaN
Name: 0, dtype: object

In [104]:
nfl_frame['stadium']=np.arange(5)

In [98]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,stadium
0,1.0,Dallas,Cowboys,511,367,1,0.582,1960.000,860,NFC,East,NaN,0
1,2.0,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,1
2,3.0,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,2
3,4.0,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,3
4,5.0,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,Eas,4

In [106]:
nfl_frame['stadium']=Series(['wankhede','kota'],index=[3,4])

In [107]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,stadium
0,1.0,Dallas,Cowboys,511,367,1,0.582,1960.000,860,NFC,East,NaN,NaN
1,2.0,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,NaN
2,3.0,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,NaN
3,4.0,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,wankhede
4,5.0,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,Eas,kota

In [108]:
del nfl_frame['stadium']

In [109]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1.0,Dallas,Cowboys,511,367,1,0.582,1960.000,860,NFC,East,NaN
1,2.0,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3.0,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4.0,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5.0,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,Eas

In [110]:
ww2_dict

{'CHINA': 3000000,
 'GERMANY': 4300000,
 'JAPAN': 2100000,
 'USA': 4000000,
 'USSR': 8700000}

In [111]:
data=DataFrame(ww2_dict)

ValueError: If using all scalar values, you must pass an index

In [112]:
my_ser =Series([1,2,3,4],index=['A','B','C','D'])

In [113]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [114]:
ind=my_ser.index

In [115]:
ind[2]

'C'

In [116]:
ind[2:]

Index(['C', 'D'], dtype='object')

In [117]:
from numpy.random import randn

In [118]:
ser1 =Series([1,2,3,4],index=['A','B','C','D'])

In [119]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [120]:
ser2=ser1.reindex(['A','B','C','D','E','F'])

In [122]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [124]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=1)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    1.0
dtype: float64

In [125]:
ser3=Series(['USA','MEXICO','CANADA'],index=[0,5,10])
ser3

0        USA
5     MEXICO
10    CANADA
dtype: object

In [128]:
ser3.reindex(range(15),method='fill')

ValueError: Invalid fill method. Expecting pad (ffill), backfill (bfill) or nearest. Got rfill

In [130]:
dframe=DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],columns=['c1','c2','c3','c4','c5'])

dframe

dframe

In [131]:
dframe

         c1        c2        c3        c4        c5
A -1.980383 -0.825010 -0.479175 -0.452734  0.642536
B  0.109506 -0.418790  1.015190  0.258756 -0.096215
D  0.066756 -0.634439 -1.906601  0.395614 -0.240733
E -0.783448 -0.399741 -0.712201 -0.804772 -0.208286
F -0.613453 -0.305719 -0.284070 -0.623647 -1.743405

In [134]:
dframe2=dframe.reindex(['A','B','C','D','E','F'],fill_value=22)

In [135]:
dframe2

          c1         c2         c3         c4         c5
A  -1.980383  -0.825010  -0.479175  -0.452734   0.642536
B   0.109506  -0.418790   1.015190   0.258756  -0.096215
C  22.000000  22.000000  22.000000  22.000000  22.000000
D   0.066756  -0.634439  -1.906601   0.395614  -0.240733
E  -0.783448  -0.399741  -0.712201  -0.804772  -0.208286
F  -0.613453  -0.305719  -0.284070  -0.623647  -1.743405

In [137]:
dframe2.reindex(columns=['c1','c2','c3','c4','c5','C6'],fill_value=2)

          c1         c2         c3         c4         c5  C6
A  -1.980383  -0.825010  -0.479175  -0.452734   0.642536   2
B   0.109506  -0.418790   1.015190   0.258756  -0.096215   2
C  22.000000  22.000000  22.000000  22.000000  22.000000   2
D   0.066756  -0.634439  -1.906601   0.395614  -0.240733   2
E  -0.783448  -0.399741  -0.712201  -0.804772  -0.208286   2
F  -0.613453  -0.305719  -0.284070  -0.623647  -1.743405   2

In [143]:
dframe.ix[['A','B','C','D','E','F','G'],['c1','c2','c3','c4','c5','C6']]

         c1        c2        c3        c4        c5  C6
A -1.980383 -0.825010 -0.479175 -0.452734  0.642536 NaN
B  0.109506 -0.418790  1.015190  0.258756 -0.096215 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.066756 -0.634439 -1.906601  0.395614 -0.240733 NaN
E -0.783448 -0.399741 -0.712201 -0.804772 -0.208286 NaN
F -0.613453 -0.305719 -0.284070 -0.623647 -1.743405 NaN
G       NaN       NaN       NaN       NaN       NaN NaN

In [145]:
ser=Series(np.arange(3),index=['a','b','c'])

In [146]:
ser

a    0
b    1
c    2
dtype: int32

In [147]:
ser.drop('b')

a    0
c    2
dtype: int32

In [148]:
ser

a    0
b    1
c    2
dtype: int32

In [149]:
d=DataFrame(np.arange(9).reshape(3,3),index=['A','B','C'],columns=['c1','c2','c3'])

In [150]:
d

   c1  c2  c3
A   0   1   2
B   3   4   5
C   6   7   8

In [153]:
d.drop('c1',axis=1)

   c2  c3
A   1   2
B   4   5
C   7   8

In [154]:
ser

a    0
b    1
c    2
dtype: int32

In [155]:
ser*3

a    0
b    3
c    6
dtype: int32