In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [5]:
df =pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [10]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [11]:
df[["W","Y"]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [12]:
df["new"]=df["W"]+df["Y"]

In [14]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [20]:
df.drop('A',axis=0,inplace=True)

In [21]:
df

          X         Y         Z       new
B -0.319318 -0.848077  0.605965 -0.196959
C  0.740122  0.528813 -0.589001 -1.489355
D -0.758872 -0.933237  0.955057 -0.744542
E  1.978757  2.605967  0.683509  2.796762

In [22]:
df.shape

(4, 4)

In [25]:
df.loc['B','C']

KeyError: 'the label [C] is not in the [index]'

In [27]:
df.iloc[3]

X      1.978757
Y      2.605967
Z      0.683509
new    2.796762
Name: E, dtype: float64

In [30]:
df.loc[["B","C"],["Y","Z"]]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001

In [31]:
df>0

       X      Y      Z    new
B  False  False   True  False
C   True   True  False  False
D  False  False   True  False
E   True   True   True   True

In [32]:
boolen= df>0

In [33]:
boolen

       X      Y      Z    new
B  False  False   True  False
C   True   True  False  False
D  False  False   True  False
E   True   True   True   True

In [34]:
df[boolen]

          X         Y         Z       new
B       NaN       NaN  0.605965       NaN
C  0.740122  0.528813       NaN       NaN
D       NaN       NaN  0.955057       NaN
E  1.978757  2.605967  0.683509  2.796762

In [36]:
df['Y']>0

B    False
C     True
D    False
E     True
Name: Y, dtype: bool

In [41]:
df[df['X']>0]

          X         Y         Z       new
C  0.740122  0.528813 -0.589001 -1.489355
E  1.978757  2.605967  0.683509  2.796762

In [46]:
df[df['X']>0]["X",'Y']

KeyError: ('X', 'Y')

In [48]:
ff =pd.DataFrame(randn(5,4),['a','b','c','d'],['x','y','w','z'])

ValueError: Shape of passed values is (4, 5), indices imply (4, 4)