In [2]:
import pandas as pd 
import numpy as np 
seed =2016 
np.random.seed(seed) 
y_0 = 1 
alpha = -0.25 
beta =0.95 
y=pd.Series(y_0) 
num=10 
for i in range(num): 
    y_t = alpha+(beta*y_0)+ np.random. uniform(-1, 1) 
    y=y.set_value(i,y_t) 
    y_0=y_t

c:\users\arbaz\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':

In [3]:
y_0

0.9468404076401885

In [4]:
y_t

0.9468404076401885

In [9]:
random.seed(2016) 
sample_size=50 
sample = pd.Series(random.sample(range (-10000,10000), sample_size)) 
x=sample/10000 
y=x**2

In [6]:
from numpy.random import random

In [8]:
import random

In [15]:
import numpy as np 
import pandas as pd 
import urllib 
url="https://goo.gl/WymYzd" 
loc= "COE.xls" 
urllib.urlretrieve(url , loc)

AttributeError: module 'urllib' has no attribute 'urlretrieve'

In [16]:
import urllib.request
url="https://goo.gl/WymYzd" 
loc= "COE.xls"
urllib.request.urlretrieve(url, loc)

('COE.xls', <http.client.HTTPMessage at 0x21b18e6c9e8>)

In [37]:
file = pd.ExcelFile("COE.xls",sheetname=Excel_file.sheet_names)

In [36]:
Excel_file.sheet_names==sheet

False

In [25]:
Excel_file

In [26]:
Excel_file

AttributeError: 'ExcelFile' object has no attribute 'info'

In [35]:
sheet='COE data'

In [33]:
sheet=list(sheet)

In [34]:
sheet

['C', 'O', 'E', ' ', 'd', 'a', 't', 'a']

In [38]:
file

In [41]:
spreadsheet = Excel_file.parse(’COE data’)

SyntaxError: invalid character in identifier (<ipython-input-41-646d66fe3171>, line 1)

In [42]:
sheet1 = Excel_file.parse(0)

In [44]:
sheet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
DATE      265 non-null datetime64[ns]
COE$      265 non-null float64
COE$_1    265 non-null float64
#Bids     265 non-null int64
Quota     265 non-null int64
Open?     265 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 12.5 KB

In [46]:
type(sheet1)

pandas.core.frame.DataFrame

In [48]:
data=sheet1["COE$"]

In [49]:
data

0       7400.0
1      11100.0
2       5002.0
3       3170.0
4       3410.0
5       2508.0
6        998.0
7       1638.0
8       6062.0
9       9012.0
10     11171.0
11     12368.0
12     12488.0
13     12222.0
14     14337.0
15     16738.0
16     18080.0
17     18104.0
18     18587.0
19     20288.0
20     25002.0
21     31888.0
22     23870.0
23     24018.0
24     25060.0
25     26014.0
26     26984.0
27     22890.0
28     20018.0
29     16100.0
        ...
235    14503.0
236    14801.0
237    14505.0
238    14200.0
239    13302.0
240    11701.0
241     9801.0
242     9275.0
243    10400.0
244    12697.0
245    13689.0
246    13301.0
247    13000.0
248    12402.0
249    11717.0
250    12000.0
251    11002.0
252    10803.0
253    11101.0
254    12699.0
255    13605.0
256    15200.0
257    14900.0
258    13000.0
259    12605.0
260    14156.0
261    14501.0
262    14669.0
263    13499.0
264    13301.0
Name: COE$, Length: 265, dtype: float64

In [63]:
sheet1["DATE"][194]= "2004−02−15 00:00:00"

c:\users\arbaz\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
sheet1.set_value(194 , "DATE" , "2004−02−15" ) 
sheet1.set_value(198 , "DATE" , "2004−04−15" ) 
sheet1.set_value(202 , "DATE" , "2004−06−15" )

c:\users\arbaz\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

ValueError: could not convert string to Timestamp

In [64]:
sheet1["DATE"][193:203]

193    2004-02-01 00:00:00
194    2004−02−15 00:00:00
195    2004-03-01 00:00:00
196    2004-03-15 00:00:00
197    2004-04-01 00:00:00
198    2004−04−15 00:00:00
199    2004-05-01 00:00:00
200    2004-05-15 00:00:00
201    2004-06-01 00:00:00
202    2004−06−15 00:00:00
Name: DATE, dtype: object

In [65]:
loc= "COE.csv" 
sheet1.to_csv(loc)

                    DATE     COE$   COE$_1  #Bids  Quota  Open?
0    1990-08-01 00:00:00   7400.0   7750.0    656    472      0
1    1990-09-01 00:00:00  11100.0   7400.0   1462    468      0
2    1990-10-01 00:00:00   5002.0  11100.0    633    472      0
3    1990-11-01 00:00:00   3170.0   5002.0    952    511      0
4    1990-12-01 00:00:00   3410.0   3170.0    919    471      0
5    1991-01-01 00:00:00   2508.0   3410.0    736    467      0
6    1991-02-01 00:00:00    998.0   2508.0    680    470      0
7    1991-03-01 00:00:00   1638.0    998.0   1184    468      0
8    1991-04-01 00:00:00   6062.0   1638.0   1971    480      0
9    1991-05-01 00:00:00   9012.0   6062.0   1387    497      0
10   1991-06-01 00:00:00  11171.0   9012.0   1296    489      0
11   1991-07-01 00:00:00  12368.0  11171.0    969    479      0
12   1991-08-01 00:00:00  12488.0  12368.0    722    478      0
13   1991-09-01 00:00:00  12222.0  12488.0   1044    476      0
14   1991-10-01 00:00:00  14337.0  12222.0    902    486      0
15   1991-11-01 00:00:00  16738.0  14337.0    990    486      0
16   1991-12-01 00:00:00  18080.0  16738.0   1086    611      0
17   1992-01-01 00:00:00  18104.0  18080.0    686    517      0
18   1992-02-01 00:00:00  18587.0  18104.0   1217    478      0
19   1992-03-01 00:00:00  20288.0  18587.0   1328    486      0
20   1992-04-01 00:00:00  25002.0  20288.0   1136    518      0
21   1992-05-01 00:00:00  31888.0  25002.0   1194    607      0
22   1992-06-01 00:00:00  23870.0  31888.0    988    504      0
23   1992-07-01 00:00:00  24018.0  23870.0    855    508      0
24   1992-08-01 00:00:00  25060.0  24018.0    915    513      0
25   1992-09-01 00:00:00  26014.0  25060.0    881    496      0
26   1992-10-01 00:00:00  26984.0  26014.0   1026    500      0
27   1992-11-01 00:00:00  22890.0  26984.0   2656   1141      0
28   1992-12-01 00:00:00  20018.0  22890.0   1921   1149      0
29   1993-01-01 00:00:00  16100.0  20018.0   2114   1201      0
..                   ...      ...      ...    ...    ...    ...
235  2005-11-01 00:00:00  14503.0  12000.0   2115   1441      1
236  2005-11-15 00:00:00  14801.0  14503.0   1905   1460      1
237  2005-12-01 00:00:00  14505.0  14801.0   2002   1408      1
238  2005-12-15 00:00:00  14200.0  14505.0   2112   1414      1
239  2006-01-01 00:00:00  13302.0  14200.0   1927   1394      1
240  2006-01-15 00:00:00  11701.0  13302.0   1859   1403      1
241  2006-02-01 00:00:00   9801.0  11701.0   1655   1402      1
242  2006-02-15 00:00:00   9275.0   9801.0   1785   1397      1
243  2006-03-01 00:00:00  10400.0   9275.0   2080   1397      1
244  2006-03-15 00:00:00  12697.0  10400.0   2102   1395      1
245  2006-04-01 00:00:00  13689.0  12697.0   2000   1395      1
246  2006-04-15 00:00:00  13301.0  13689.0   1657   1119      1
247  2006-05-01 00:00:00  13000.0  13301.0   1514   1112      1
248  2006-05-15 00:00:00  12402.0  13000.0   1475   1118      1
249  2006-06-01 00:00:00  11717.0  12402.0   1570   1176      1
250  2006-06-15 00:00:00  12000.0  11717.0   1933   1119      1
251  2006-07-01 00:00:00  11002.0  12000.0   1716   1111      1
252  2006-07-15 00:00:00  10803.0  11002.0   1678   1147      1
253  2006-08-01 00:00:00  11101.0  10803.0   1718   1127      1
254  2006-08-15 00:00:00  12699.0  11101.0   1669   1116      1
255  2006-09-01 00:00:00  13605.0  12699.0   1889   1112      1
256  2006-09-15 00:00:00  15200.0  13605.0   1911   1113      1
257  2006-10-01 00:00:00  14900.0  15200.0   1871   1115      1
258  2006-10-15 00:00:00  13000.0  14900.0   2056   1370      1
259  2006-11-01 00:00:00  12605.0  13000.0   1976   1295      1
260  2006-11-15 00:00:00  14156.0  12605.0   2122   1360      1
261  2006-12-01 00:00:00  14501.0  14156.0   1981   1287      1
262  2006-12-15 00:00:00  14669.0  14501.0   1991   1283      1
263  2007-01-01 00:00:00  13499.0  14669.0   1708   1290      1
264  2007-01-15 00:00:00  13301.0  13499.0   1863   1304      1

[265 rows x 6 columns]

In [67]:
temp = pd . read_csv ( "COE.csv" )

In [69]:
temp["DATE"][193:204]

193    2004-02-01 00:00:00
194    2004−02−15 00:00:00
195    2004-03-01 00:00:00
196    2004-03-15 00:00:00
197    2004-04-01 00:00:00
198    2004−04−15 00:00:00
199    2004-05-01 00:00:00
200    2004-05-15 00:00:00
201    2004-06-01 00:00:00
202    2004−06−15 00:00:00
203    2004-07-01 00:00:00
Name: DATE, dtype: object

In [2]:
import torch